#intro_trigger {
    margin-top: $headerBarHeightSmall;
    
    @include screenLg {
        margin-top: $headerBarHeight;
    }
}

.scene {
    margin-top: 50px;
    .scene__header {
        @include padding('header');
        @include fontSize('lg');
        font-weight: bold;
        text-transform: uppercase;  
        background-color: $headerBackgroundeaderColour;
        color: $headerFontColour;

        &--align-center {
            text-align: center;
        }

        &--secondary {
            background-color: $headerBackgroundeaderColour;
            color: $headerFontColour;
        }
    }

    .scene__body {
        @include padding('body');
        overflow-y: hidden;
        position: relative;
        @include fontSize('md');
        line-height: 1.5;
        background-color: $sceneBackgroundColour ;
        color: $sceneFontColour;

        &--secondary {
            background-color: $headerBackgroundeaderColour ;
            color: $headerFontColour;
        }
        &--tertiary {
            background-color: $headerBackgroundeaderColour ;
            color: $headerFontColour;
        }

       .scene__counter {
            
            color: $secondarySceneBackgroundColour;
            font-style: italic;
            @include fontSize('xl');
            
            display: block;
            text-align: center;
            font-weight: bold;
            line-height: 1;

            @include flexCenter;


            @include screenMd {
                text-align: left;
            }

            span {
                display: block;
                width: 100%;
            }

        }

        .font-large {
            @include fontSize('lg');
        }

        &.no-padding {
            padding-top: 0px;
            padding-bottom: 10px;
        }

    }
    &--bordered {
        
        border: 0;

        @include screenLg {
            border-top: 1px solid $grey;

        }

        hr {
            
            display: block;
            width: 80%;
            margin: 30px auto 0;

             @include screenLg {
                display: none;
            }
        }
    }
    &--no-margin {
        margin-top: 0;
    }
    &--padding {
        padding-top: 40px;
    }
    &--small-margin {
        margin-top: 25px;
    }
    &--large-margin {
        margin-top: 75px;
    }
    &--fullwidth {
        background-color: $white;
    }

    &--fullwidth-footer {
        background-color: $oracleRed;
        color: $white;
        .scene__body {
            background-color: transparent;
            color: #FFF;
            padding: 45px 0;
        }
    }

    &--fullwidth-footer-button {
        background-color: $charcoal;
        color: $white;
    }

    &.scene__intrographic {
        font-size: 0;
        img { 
            width: 100%; 
            max-width: 100%;
        }
    }

    &.scene__intro {
         .scene__graphic {


            @extend .col-12;
            @extend .col-sm-4;
            @extend .col-xl-3;
            
            @extend .push-sm-8;
            @extend .push-xl-9; 

            position: relative;

            @include screenSm {
                display: flex;
            }

            svg {               
                
                width: 96%;
                display: block;
                margin-left: 4%;

            }     
        }

        .scene__copy {


            @extend .col-12;
            @extend .col-sm-8;
            @extend .col-xl-9;
            
            @extend .pull-sm-4;
            @extend .pull-xl-3; 
            
            padding-top: 15px;
            padding-bottom: 15px;

            @include screenSm {
                padding-top: 0px;
                padding-bottom: 0px;
            }


        }
    }

    .scene__introline {
        @extend .col-12;
        @extend .scene__header;
        background-color: transparent;
        color: $brown;
        @extend .scene__header--align-center;

        &--footer {
            background-color: $maroon;
        }

    }

    &.scene__one {
        background-color: $white;

        @include fontSize('md');
        .scene__graphic {
            
            svg {               
                
                width: 80%;
                display: block;
                margin: 0 auto;

                @include screenSm {
                    width: 70%;
                }
                @include screenLg {
                    width: 90%;
                    margin: 0;
                    margin-top: 50px;
                }
             
            }   

            img {               
                
                width: 60%;
                max-width: 260px;
                display: block;
                margin: 0 auto;
                padding: 20px 0;

                @include screenSm {
                    width: 70%;
                }
                @include screenLg {
                    width: 70%;
                    margin: 0;
                }
             
            }   

        }

        .scene__copy {

           // @include flexCenter;
            
            .row:first-of-type {
                margin-top: 25px;
                margin-bottom: 25px;
            }
            
        }

           .chart {
              position: relative;
              display: inline-block;
              text-align: center;
              width: 100%;

                figcaption {
                  position: absolute;
                  width: 100%;
                  height: 50px;
                  line-height: 200px;
                  left: 0;
                  text-align: center;
                  font-size: 2em;
                  color: $oracleRed;
                  font-style: italic;
                  font-weight: bold;
                }

                .outer {
                  stroke:url(#MyGradient);
                  fill: transparent;
                  stroke-width: 20;
                  stroke-dasharray: 534;
                  transition: stroke-dashoffset 1s;
                  -webkit-animation-play-state: running;
                  /* firefox bug fix - won't rotate at 90deg angles */
                  -moz-transform: rotate(-89deg) translateX(-190px);
                  visibility: hidden;
                }

            }

            p {
                color: $blue; 

                span {
                    font-size: 2em;
                    font-style: italic;
                    font-weight: bold;
                }
            }

            .chart-text {
                margin-top: 50px;
            }

            .static-chart {
                position: absolute;
                width: 100%;
                text-align: center;
                right: 0px;
                top: 0px;
                    .outer {              
                      stroke:#ebebeb;
                      fill: transparent;
                      stroke-width: 20;
                    }
            }

            .chart[data-percent='71'] .play-animation .outer {
              visibility: visible;
              stroke-dashoffset: 155;
              -webkit-animation: show71 2s;
              animation: show71 2s;
            }

            .chart[data-percent='32'] .play-animation .outer {
              visibility: visible;
              stroke-dashoffset: 365;
              -webkit-animation: show32 2s;
              animation: show32 2s;
            }

            figure { 
                margin: 0; 
            }

            .flex-container {
                display: flex;
                align-items: center;
            }
    }

    &.scene__two {

        .scene__graphic {

            padding: 5% 0;

            @include screenLg {
                padding: 2% 0;
            }

              svg, img {               
                
                width: 90%;
                display: block;
                margin: 0 auto;

                @include screenSm {
                    width: 70%;
                }
                @include screenLg {
                    width: 90%;

                }
            }  


        }

        .flex-container {
            display: flex;
            align-items: center;
        }

        p  {
            color: $blue;
            span {
                color: $blue;
                font-size: 2em;
                line-height: 100%;
                font-weight: bold;
                font-style: italic;
            }
        }

    }


    &.scene__three {
        .scene__graphic {

            padding: 5% 0;

            @include screenLg {
                padding: 2% 0;
            }

            svg, img {

                width: 100%;
                display: block;
                margin: 0 auto;

                @include screenSm {
                    width: 80%;
                }
                @include screenLg {
                    width: 100%;
                }
   
            }

            .s3__match {
                @include screenLg {
                    min-height: 300px;
                }
            }

            .microscope .s3__match {
                svg {
                    width: 70%;
                    @include screenLg {
                        width: 80%;
                    }
                }
                @include screenLg {
                    padding-top: 30px;
                }
            }  
            #laptopspanner {
                svg {
                   // @include screenLg {
                        margin-top: 20%;
                        margin-bottom: -20%;
                  //  }
                }
            }
        }    

        p  {
            color: $blue;
            span {
                color: $royalBlue;
                font-size: 3em;
                font-weight: bold;
                font-style: italic;
            }
            &.line-height-150 {
                line-height: 150%;
            }
        }

        .scene__enterprise {
            background-size: contain;
            background-position: right center;
            background-repeat: no-repeat;
            padding-top: 50px;
            display: flex;
            align-items: flex-end;
            @include screenMd {
                padding-top: 150px;
            }
            @include screenLg {
                min-height: 250px;
                padding-top: 0;
            }
            p  {
                color: $blue;
                span {
                    color: $blue;
                    font-size: 2em;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }

        .scene__copy {
            @include flexCenter;

            .scene__counter {
                @include screenMd {
                    text-align: center;
                }
                @include screenLg {
                    text-align: left;
                }
            }
        }    

        .flex-container {
            display: flex;
            align-items: center;
        }
    }
    
    &.scene__four {

        .scene__graphic {
            
            text-align: center;   
            overflow: hidden;  
            padding-bottom: 5%;
            @include flexCenter;

            svg, img {
                width: 100%;
                display: block;
                margin: 0 auto;

                @include screenSm {
                    width: 80%;
                }
                @include screenLg {
                    width: 100%;
                }

                &.arrow_icon {
                    max-width: 52px;
                }
            }

            @include screenLg {
                padding-bottom: 0;
            }
        }


        p  {
            color: $blue;
            span {
                font-size: 6em;
                line-height: 100%;
                font-weight: bold;
                font-style: italic;
            }

            &.no-margin {
                margin-top: 10px;
            }
        }

        .scene__callout {
            color:#FFF; 
            background-color:#0088a0;
            position: relative;
            overflow: hidden;
            padding-top: 20px;
            padding-bottom: 20px;
            @include padding('left');
            @include padding('right');

            ul li {
                @include fontSize('md');
            }

            img, svg { 
                max-width: 190px;
            }
            .down-arrow-container {
                padding: 0; 
                margin: 0; 
                width: 100%; 
                text-align: center; 
                line-height: 0;
            }

            &:before {
                position: absolute;
                left: 50%;
                top: 0;
                content: '';
                width: 25px;
                height: 25px;
                display: block;
                background-color: $white;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        .flex-container {
            display: flex;
            align-items: center;

            img {
                margin: 0 auto;
            }
        }

        .additional-info {
            div {
                @include padding('top');
            }
        }

        .ie-fix svg {
            @include screenLg {
                min-height: 450px;
            }
        }

    }

    &.scene__five {
        
        .image--one {
            order: -1;

            @include screenLg {
                order: 1;
            }
        }

        .image--two {
            align-items: center;
            display: flex;

            svg {
                width: 100%;
            }

            @include screenLg {
                svg {
                    width: 80%;
                }   
            }
        }

        .row {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .subtext {
            background-color: #ebebeb;
            padding: 30px;
            text-align: center;
        }

        .title {
            font-size: 60px;
            margin-top: 30px;
            
            @include screenLg {
                margin-top: 0;
            }
        }

        ul {
            margin-top: 50px;

            li {
                margin-bottom: 10px;

                font: {
                    size: 24px;
                    weight: bold;
                }

                &:after {
                    margin-bottom: 0;
                }
            }
        }

    }


    &.scene__summary {

        .scene__graphic {
            @include flexCenter;

            svg {
                width: 80%;
                margin: 0 auto;
                display: block;
                .fill {
                    fill : $headerBackgroundeaderColour;
                }
                @include screenLg {
                    min-height: 300px;
                }
            }



        }

        .scene__copy {
            @include flexCenter;
        }
    }


    &.scene__tagline {
        @include fontSize('md'); 
        color: $blue;
        font-weight: bold;
        text-align: center;
        @include screenLg {
            text-align: left;
        }

    }
    &.scene__cta {
        @include fontSize('sm'); 
        color: $blue;

        .cta__button {
            @extend .col-12;
            @extend .col-lg-4;
            text-align: center;
        }

        .cta__copy {
            @extend .col-12;
            @extend .col-lg-8;

            @include flexCenter;
            
            margin-top: 25px;
            text-align: center;
            @include screenLg {
                margin-top: 0;
                text-align: left;
            }
        }
    }

    &.scene__footer {
        color: $grey;
        font-size: 0.8rem;

        .footer__logo {
            text-align: center;            
            font-size: 0 !important;   
            margin-top: 25px; 

            @include screenSm {
                text-align: right;
                margin-top: 0;
            }

            .logo__image {
                display: inline-block;
                max-width: 100%;
                background-image: url(../../images/svg/logo2.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;   
                height: 70px;
                width: 191px;  
            }
        }
    }


    // some generic styling for elements within scenes



    ul>li {
         @include fontSize('lg');
    }

}

.outer-container {
    width: 100%;
    background-color: $white;
}

/**
* Media Queries
* Don't think this is the right place 
*/

@media(max-width:767px){

    .scene {
        &--fullwidth {
            max-width: 540px;
        }

        &.scene__one {
            .chart-text {
                margin-top: 0px;
                padding: 20px 0;
            }
        }

        &.scene__three {
            .scene__enterprise {
                p {
                    padding-top: 20%;
                }
            }
            .scene__enterprise {
                background-position: right top;
            }
        }
    }

    .outer-container {
        max-width: 540px;
        margin: 0 auto;
    }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

/**
 * Language variations
 */
.de {

    .scene {
        .scene__introline {
            @media screen and (max-width: 768px) {
                font-size: 5vmin;
            }
        }
        .scene__header {
            @media screen and (max-width: 768px) {
                font-size: 4.5vmin;
            }
        }

        &.scene__three {
            .scene__enterprise {
                span {
                    @media screen and (max-width: 768px) {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }


}