.intro {
  color: $headerBackgroundeaderColour;
  padding-top: 50px;

  &__copy {
    @extend .col-lg-7;
  }

  &__image {
    @extend .col-lg-5;

    text-align: right;

    svg {
      width: 90%;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;

      svg {
        width: 75%;
      }
    }
  }

  &__line {
    @extend .col-12;

    font: {
      size: 32px;
    }
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__text {
    color: #000000;
    margin-top: 30px;
    font-size: 24px;
    line-height: 1.4;
  }

  .title {
    font-size: 1.8vw;
    
    &__line {
      line-height: 0.9;
      text-transform: uppercase;
      
      &--one {
        font: {
          size: 4em;
          weight: bold;
        }
      }

      &--two {
        font-size: 3.65em;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 4vw; 
    }
  }
}