// include and output normalize.css
@import 'normalize';
@include normalize();

// bootstrap inspired....
@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/utilities/flex';
@import 'bootstrap/utilities/spacing';

@import 'variables';
@import 'mixins';
@import 'keyframes';
@import 'base';
@import 'utilities';
@import 'buttons';
@import 'svgs';
@import 'scenes';